<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta name="keywords" content="{$SEO['keyword']}">
    <meta name="description" content="{$SEO['description']}">    <link rel="stylesheet" type="text/css" href="./resource/base.css">
    <link rel="stylesheet" type="text/css" href="./resource/home.css">
    <script language="javascript" type="text/javascript" src="./resource/jquery-1.8.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="./resource/jquery.SuperSlide.js"></script>
    <script language="javascript" type="text/javascript" src="./resource/common.js"></script>
    <script language="javascript" type="text/javascript" src="./resource/adver.js"></script>
</head>

<body>
    <div class="header">
        <div class="topArea">
            <div class="wrap">
                <a href="javascript:;">中文</a> |
                <a href="http://www.postone.com.cn/en">ENGLISH</a>
            </div>
        </div>
        <div class="wrap clearfix">
            <h1 class="logo">
            
                    <img src="./resource/2015072057585753.jpg" width="500" height="106">
            
        </h1>
            <div class="wechat"><img src="./resource/wechat.jpg"></div>
        </div>
        {template "content","nav"}
        <div class="banner">
            <div class="bd">
                <ul style="position: relative; width: 1903px; height: 213px;">
                    <li style="position: absolute; width: 1903px; left: 0px; top: 0px; display: none; background: url(./resource/2015071735642173.jpg) 50% 0px no-repeat;"></li>
                    <li style="position: absolute; width: 1903px; left: 0px; top: 0px; display: list-item; background: url(./resource/2015071735642173.jpg) 50% 0px no-repeat;"></li>
                    <li style="position: absolute; width: 1903px; left: 0px; top: 0px; display: none; background: url(./resource/2015071735642173.jpg) 50% 0px no-repeat;"></li>
                </ul>
            </div>
            <div class="hd">
                <ul class="wrap">
                    <li class=""></li>
                    <li class="on"></li>
                    <li class=""></li>
                </ul>
            </div>
            <div class="arrow">
                <div class="wrap">
                    <a href="javascript:;" class="next"></a>
                    <a href="javascript:;" class="prev"></a>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        jQuery(".banner").slide({
            titCell: ".hd li",
            mainCell: ".bd ul",
            effect: "fold",
            autoPlay: true,
            delayTime: 700
        });
        </script>
    </div>
    <div class="container">
        <div class="wrap clearfix">
            <div class="main clearfix">
                <div class="about">
                    <div class="hd">
                        <span>关于我们</span>
                        <a href="index.php?m=content&c=index&a=show&catid=6&id=1" class="more"></a>
                    </div>
                    <div class="bd">
                        <img src="./resource/2015071600377235.png">
                        <p> 
                            {pc:content action="lists" catid="6" moreinfo="1" order="listorder ASC" num="1"}
                                {loop $data $r}
                                {str_cut(strip_tags($r[content]),360,'...')}
                                {/loop} 
                            {/pc}
                        </p>
                    </div>
                </div>
                <div class="contact fl">
                    <div class="hd">
                        <span>产品净值</span>
                        <a href="index.php?m=content&c=index&a=lists&catid=15" class="more"></a>
                    </div>
                    <div class="bd">
                        <dl>
                            <dt class="clearfix">
                                <span class="c1">产品名称</span>
                                <span class="c2">成立日期</span>
                                <span class="c3">累计单位净值</span>
                                <span class="c4">更新日期</span>
                            </dt>
                        </dl>
                        <div class="tempWrap" style="overflow:hidden; position:relative; height:148px">
                            <dl class="list" style="height: 888px; position: relative; padding: 0px; margin: 0px; top: -430px;">
                               {pc:content action="lists" status="99" catid="15" num="10" order="listorder ASC"}
                                    {loop $data $r}
                                          <dd class="clearfix" style="height: 37px;">
                                            <span class="c1"><a href="{$r[url]}">{$r[title]}</a></span>
                                            <span class="c2">{date('Y-m-d',$r[created_date])}</span>
                                            <span class="c3">{$r[leijidanweijingzhi]}</span>
                                            <span class="c4">{date('Y-m-d',$r[updatetime])}</span>
                                        </dd>
                                    {/loop}
                                {/pc}
                            </dl>
                        </div>
                    </div>
                </div>
                <script>
                jQuery(".contact").slide({
                    mainCell: ".bd .list",
                    autoPlay: true,
                    effect: "topMarquee",
                    vis: 4,
                    interTime: 50,
                    trigger: "click"
                });
                </script>
                <div class="news fl">
                    <div class="hd">
                        <span>公司公告</span>
                        <a href="index.php?m=content&c=index&a=lists&catid=12" class="more"></a>
                    </div>
                    <div class="bd">
                        <ul>
                        {pc:content action="lists" status="99" catid="12" num="6" order="listorder ASC"}
                            {loop $data $r}
                                <li>
                                    <span class="date">{date('Y-m-d',$r[inputtime])}</span>
                                    <a href="{$r[url]}" target="_blank" title="{$r[title]}">{str_cut($r[title],50,'...')}</a>
                                </li>
                            {/loop}
                        {/pc}
                        </ul>
                    </div>
                </div>
                <div class="news case fl">
                    <div class="hd">
                        <span>哈德策略</span>
                        <a href="index.php?m=content&c=index&a=lists&catid=13" class="more"></a>
                    </div>
                    <div class="bd">
                        <ul>
                           {pc:content action="lists" status="99" catid="13" num="6" order="listorder ASC"}
                                {loop $data $r}
                                    <li>
                                        <span class="date">{date('Y-m-d',$r[inputtime])}</span>
                                        <a href="{$r[url]}" target="_blank" title="{$r[title]}">{str_cut($r[title],50,'...')}</a>
                                    </li>
                                {/loop}
                            {/pc}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="side">
                <div class="bd">
                    <img src="./resource/contact.png">
                    <div style="padding: 5px; line-height: 24px; word-break: break-all">
                        {pc:get sql="SELECT * FROM v9_page where catid=3"}
                            {loop $data $val}
                            {$val[content]}
                            {/loop}
                        {/pc}
                    </div>
                </div>
                <div class="link">
                    <p>
                        <a href="index.php?m=content&c=index&a=show&catid=6&id=4"><img src="./resource/2015071625147939.png"></a>
                    </p>
                    <p>
                        <a href="index.php?m=content&c=index&a=show&catid=9&id=20"><img src="./resource/2015071625154455.png"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="ad">
            <table id="__01" width="960" height="120" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td rowspan="3">
                        <a href="http://www.gov.cn" target="_blank">
                            <img src="resource/ad_01.jpg" width="101" height="120" alt=""></a>
                    </td>
                    <td rowspan="3">
                        <a href="http://www.circ.gov.cn" target="_blank">
                            <img src="resource/ad_02.jpg" width="175" height="120" alt=""></a>
                    </td>
                    <td rowspan="3">
                        <a href="http://www.pbc.gov.cn" target="_blank">
                            <img src="resource/ad_03.jpg" width="130" height="120" alt=""></a>
                    </td>
                    <td rowspan="3">
                        <a href="http://www.cbrc.gov.cn" target="_blank">
                            <img src="resource/ad_04.jpg" width="134" height="120" alt=""></a>
                    </td>
                    <td rowspan="3">
                        <a href="http://www.amac.org.cn" target="_blank">
                            <img src="resource/ad_05.jpg" width="109" height="120" alt=""></a>
                    </td>
                    <td rowspan="3">
                        <a href="http://www.csrc.gov.cn" target="_blank">
                            <img src="resource/ad_06.jpg" width="117" height="120" alt=""></a>
                    </td>
                    <td>
                        <a href="http://www.amac.org.cn" target="_blank">
                            <img src="resource/ad_07.jpg" width="194" height="59" alt=""></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="http://www.capco.org.cn" target="_blank">
                            <img src="resource/ad_08.jpg" width="194" height="3" alt=""></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="http://www.sac.net.cn" target="_blank">
                            <img src="resource/ad_09.jpg" width="194" height="58" alt=""></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {template "content","footer"}
</body>

</html>
