<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>上海朴石投资管理合伙企业（有限合伙）</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="./resource/base.css">
    <link rel="stylesheet" type="text/css" href="./resource/home.css">
    <script language="javascript" type="text/javascript" src="./resource/jquery-1.8.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="./resource/jquery.SuperSlide.js"></script>
    <script language="javascript" type="text/javascript" src="./resource/common.js"></script>
    <script language="javascript" type="text/javascript" src="./resource/adver.js"></script>
</head>

<body>
    <div class="header">
        <div class="topArea">
            <div class="wrap">
                <a href="javascript:;">中文</a> |
                <a href="http://www.postone.com.cn/en">ENGLISH</a>
            </div>
        </div>
        <div class="wrap clearfix">
            <h1 class="logo">
            
                    <img src="./resource/2015072057585753.jpg" width="500" height="106">
            
        </h1>
            <div class="wechat"><img src="./resource/wechat.jpg"></div>
        </div>
        <!--nav-->
        <div class="banner">
            <div class="bd">
                <ul style="position: relative; width: 1903px; height: 213px;">
                    <li style="position: absolute; width: 1903px; left: 0px; top: 0px; display: none; background: url(./resource/2015071735623237.jpg) 50% 0px no-repeat;"></li>
                    <li style="position: absolute; width: 1903px; left: 0px; top: 0px; display: list-item; background: url(./resource/2015071735642173.jpg) 50% 0px no-repeat;"></li>
                    <li style="position: absolute; width: 1903px; left: 0px; top: 0px; display: none; background: url(./resource/2015072058745845.jpg) 50% 0px no-repeat;"></li>
                </ul>
            </div>
            <div class="hd">
                <ul class="wrap">
                    <li class=""></li>
                    <li class="on"></li>
                    <li class=""></li>
                </ul>
            </div>
            <div class="arrow">
                <div class="wrap">
                    <a href="javascript:;" class="next"></a>
                    <a href="javascript:;" class="prev"></a>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        jQuery(".banner").slide({
            titCell: ".hd li",
            mainCell: ".bd ul",
            effect: "fold",
            autoPlay: true,
            delayTime: 700
        });
        </script>
    </div>
    <div class="container">
        <div class="wrap clearfix">
            <div class="main clearfix">
                <div class="about">
                    <div class="hd">
                        <span>关于我们</span>
                        <a href="http://www.postone.com.cn/info.asp?base_id=1&second_id=1001" class="more"></a>
                    </div>
                    <div class="bd">
                        <img src="./resource/2015071600377235.png">
                        <p> 公司简介 您的当前位置：首页 &gt; 关于我们 &gt; 公司简介 朴石投资是一家由公募基金行业及证券自营资深人士组成的有限合伙企业，成立于2012年3月，注册资金1000万元。管理团队投资经历丰富，过往业绩优异，道德品质良好，企业管理层决心将为委...</p>
                    </div>
                </div>
                <div class="contact fl">
                    <div class="hd">
                        <span>产品净值</span>
                        <a href="http://www.postone.com.cn/info.asp?base_id=2&second_id=2001" class="more"></a>
                    </div>
                    <div class="bd">
                        <dl>
                            <dt class="clearfix">
                                <span class="c1">产品名称</span>
                                <span class="c2">成立日期</span>
                                <span class="c3">累计单位净值</span>
                                <span class="c4">更新日期</span>
                            </dt>
                        </dl>
                        <div class="tempWrap" style="overflow:hidden; position:relative; height:148px">
                            <dl class="list" style="height: 888px; position: relative; padding: 0px; margin: 0px; top: -430px;">
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1134">朴石1期</a></span>
                                    <span class="c2">2012-9-18</span>
                                    <span class="c3">204.27</span>
                                    <span class="c4">2016-02-15</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1139">朴石2期</a></span>
                                    <span class="c2">2013-6-20</span>
                                    <span class="c3">156.3</span>
                                    <span class="c4">2016-02-05</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1140">朴石3期</a></span>
                                    <span class="c2">2013-8-12</span>
                                    <span class="c3">131.33</span>
                                    <span class="c4">2016-02-05</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1141">朴石5期</a></span>
                                    <span class="c2">2013-6-28</span>
                                    <span class="c3">147.32</span>
                                    <span class="c4">2016-02-05</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1136">朴石6期</a></span>
                                    <span class="c2">2013-9-27</span>
                                    <span class="c3">121.35</span>
                                    <span class="c4">2016-02-15</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1138">朴石7期</a></span>
                                    <span class="c2">2014-4-18</span>
                                    <span class="c3">162.62</span>
                                    <span class="c4">2016-02-15</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1142">朴石8期</a></span>
                                    <span class="c2">2015-4-29</span>
                                    <span class="c3">0.811</span>
                                    <span class="c4">2016-01-29</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1132">朴石9期</a></span>
                                    <span class="c2">2015-6-26</span>
                                    <span class="c3">0.9000</span>
                                    <span class="c4">2016-02-15</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1134">朴石1期</a></span>
                                    <span class="c2">2012-9-18</span>
                                    <span class="c3">204.27</span>
                                    <span class="c4">2016-02-15</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1139">朴石2期</a></span>
                                    <span class="c2">2013-6-20</span>
                                    <span class="c3">156.3</span>
                                    <span class="c4">2016-02-05</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1140">朴石3期</a></span>
                                    <span class="c2">2013-8-12</span>
                                    <span class="c3">131.33</span>
                                    <span class="c4">2016-02-05</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1141">朴石5期</a></span>
                                    <span class="c2">2013-6-28</span>
                                    <span class="c3">147.32</span>
                                    <span class="c4">2016-02-05</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1136">朴石6期</a></span>
                                    <span class="c2">2013-9-27</span>
                                    <span class="c3">121.35</span>
                                    <span class="c4">2016-02-15</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1138">朴石7期</a></span>
                                    <span class="c2">2014-4-18</span>
                                    <span class="c3">162.62</span>
                                    <span class="c4">2016-02-15</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1142">朴石8期</a></span>
                                    <span class="c2">2015-4-29</span>
                                    <span class="c3">0.811</span>
                                    <span class="c4">2016-01-29</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1132">朴石9期</a></span>
                                    <span class="c2">2015-6-26</span>
                                    <span class="c3">0.9000</span>
                                    <span class="c4">2016-02-15</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1134">朴石1期</a></span>
                                    <span class="c2">2012-9-18</span>
                                    <span class="c3">204.27</span>
                                    <span class="c4">2016-02-15</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1139">朴石2期</a></span>
                                    <span class="c2">2013-6-20</span>
                                    <span class="c3">156.3</span>
                                    <span class="c4">2016-02-05</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1140">朴石3期</a></span>
                                    <span class="c2">2013-8-12</span>
                                    <span class="c3">131.33</span>
                                    <span class="c4">2016-02-05</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1141">朴石5期</a></span>
                                    <span class="c2">2013-6-28</span>
                                    <span class="c3">147.32</span>
                                    <span class="c4">2016-02-05</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1136">朴石6期</a></span>
                                    <span class="c2">2013-9-27</span>
                                    <span class="c3">121.35</span>
                                    <span class="c4">2016-02-15</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1138">朴石7期</a></span>
                                    <span class="c2">2014-4-18</span>
                                    <span class="c3">162.62</span>
                                    <span class="c4">2016-02-15</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1142">朴石8期</a></span>
                                    <span class="c2">2015-4-29</span>
                                    <span class="c3">0.811</span>
                                    <span class="c4">2016-01-29</span>
                                </dd>
                                <dd class="clearfix" style="height: 37px;">
                                    <span class="c1"><a href="http://www.postone.com.cn/display.asp?id=1132">朴石9期</a></span>
                                    <span class="c2">2015-6-26</span>
                                    <span class="c3">0.9000</span>
                                    <span class="c4">2016-02-15</span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <script>
                jQuery(".contact").slide({
                    mainCell: ".bd .list",
                    autoPlay: true,
                    effect: "topMarquee",
                    vis: 4,
                    interTime: 50,
                    trigger: "click"
                });
                </script>
                <div class="news fl">
                    <div class="hd">
                        <span>公司公告</span>
                        <a href="http://www.postone.com.cn/info.asp?base_id=3&second_id=3001" class="more"></a>
                    </div>
                    <div class="bd">
                        <ul>
                            <li><span class="date">2016-01-21</span><a href="http://www.postone.com.cn/display.asp?id=1114" target="_blank" title="【朴石投资2015年全国排名居前】2015年度中国阳光私募基金巅峰榜(数据来源：格上理财)">【朴石投资2015年全国排名居前...</a></li>
                            <li><span class="date">2015-10-27</span><a href="http://www.postone.com.cn/display.asp?id=993" target="_blank" title="【朴石三季度排名居前】2015年三季度中国阳光私募基金巅峰榜">【朴石三季度排名居前】2015年...</a></li>
                            <li><span class="date">2015-09-14</span><a href="http://www.postone.com.cn/display.asp?id=932" target="_blank" title="《陕国投·朴石2期管理型证券投资集合资金信托计划》第一次受益人大会决议">《陕国投·朴石2期管理型证券投资...</a></li>
                            <li><span class="date">2015-08-27</span><a href="http://www.postone.com.cn/display.asp?id=915" target="_blank" title="关于召开《陕国投·朴石2期管理型证券投资集合资金信托计划》第一次受益人大会的通知">关于召开《陕国投·朴石2期管理型...</a></li>
                            <li><span class="date">2015-07-20</span><a href="http://www.postone.com.cn/display.asp?id=148" target="_blank" title="朴石投资关于未来市场的看法与对投资者的建议">朴石投资关于未来市场的看法与对投...</a></li>
                            <li><span class="date">2014-09-26</span><a href="http://www.postone.com.cn/display.asp?id=114" target="_blank" title="盘点中国创新 基因测序前景可期">盘点中国创新 基因测序前景可期</a></li>
                        </ul>
                    </div>
                </div>
                <div class="news case fl">
                    <div class="hd">
                        <span>朴石策略</span>
                        <a href="http://www.postone.com.cn/info.asp?base_id=3&second_id=3002" class="more"></a>
                    </div>
                    <div class="bd">
                        <ul>
                            <li><span class="date">2016-02-03</span><a href="http://www.postone.com.cn/display.asp?id=1127" target="_blank" title="朴石投资关于2016年2月投资策略">朴石投资关于2016年2月投资策略</a></li>
                            <li><span class="date">2016-01-04</span><a href="http://www.postone.com.cn/display.asp?id=1087" target="_blank" title="朴石投资关于2016年1月投资策略">朴石投资关于2016年1月投资策略</a></li>
                            <li><span class="date">2015-12-15</span><a href="http://www.postone.com.cn/display.asp?id=1051" target="_blank" title="朴石投资2015年市场回顾及2016年投资策略">朴石投资2015年市场回顾及2016年投资策略</a></li>
                            <li><span class="date">2015-11-30</span><a href="http://www.postone.com.cn/display.asp?id=1050" target="_blank" title="朴石投资关于11月27日市场大幅波动的分析">朴石投资关于11月27日市场大幅波动的分析</a></li>
                            <li><span class="date">2015-11-02</span><a href="http://www.postone.com.cn/display.asp?id=994" target="_blank" title="朴石投资关于2015年11月投资策略">朴石投资关于2015年11月投资策略</a></li>
                            <li><span class="date">2015-10-08</span><a href="http://www.postone.com.cn/display.asp?id=956" target="_blank" title="朴石投资关于2015年10月投资策略">朴石投资关于2015年10月投资策略</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="side">
                <div class="bd">
                    <img src="./resource/contact.png">
                    <div style="padding: 5px; line-height: 24px;">
                        <p>
                            地址：<span style="line-height:1.5;">上海市浦东新区长柳路58号证大立方大厦1204室</span>
                        </p>
                        <p>
                            邮编：200135
                        </p>
                        <p>
                            传真：021-3392 6083
                        </p>
                        <p>
                            电话：021-5049 3769
                        </p>
                        <p>
                            手机：186 2179 6913
                        </p>
                        <p>
                            邮箱：<span style="line-height:1.5;">limin.he@postone.com.cn</span>
                        </p>
                        <p>
                            <span style="line-height:1.5;"><br>
</span>
                        </p>
                    </div>
                </div>
                <div class="link">
                    <p>
                        <a href="http://www.postone.com.cn/info.asp?base_id=1&second_id=1005"><img src="./resource/2015071625147939.png"></a>
                    </p>
                    <p>
                        <a href="http://www.postone.com.cn/info.asp?base_id=4&second_id=4002"><img src="./resource/2015071625154455.png"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="ad"><img src="./resource/ad.jpg"></div>
    </div>
    <!--nav-->
</body>

</html>
