<div class="nav">
    <div class="wrap">
        <ul class="clearfix">
            <li><a href="http://www.postone.com.cn/">首页</a></li>
            <li><a href="http://www.postone.com.cn/info.asp?base_id=1">关于我们</a>
                <dl class="subNav">
                    <dt><a href="http://www.postone.com.cn/info.asp?base_id=1&second_id=1001">公司简介</a></dt>
                    <dt><a href="http://www.postone.com.cn/info.asp?base_id=1&second_id=1003">投资理念</a></dt>
                    <dt><a href="http://www.postone.com.cn/info.asp?base_id=1&second_id=1004">合规风控</a></dt>
                    <dt><a href="http://www.postone.com.cn/info.asp?base_id=1&second_id=1005">核心团队</a></dt>
                    <dt><a href="http://www.postone.com.cn/info.asp?base_id=1&second_id=1007">公司荣誉</a></dt>
                    <dt><a href="http://www.postone.com.cn/info.asp?base_id=1&second_id=1006">联系我们</a></dt>
                </dl>
            </li>
            <li><a href="./resource/news.html" class="current">朴石资讯</a>
                <dl class="subNav">
                    <dt><a href="http://www.postone.com.cn/info.asp?base_id=3&second_id=3001">朴石公告</a></dt>
                    <dt><a href="http://www.postone.com.cn/info.asp?base_id=3&second_id=3002">朴石策略</a></dt>
                    <dt><a href="http://www.postone.com.cn/info.asp?base_id=3&second_id=3003">行业动态</a></dt>
                </dl>
            </li>
            <li><a href="http://www.postone.com.cn/info.asp?base_id=2">旗下产品</a>
            </li>
            <li><a href="http://www.postone.com.cn/info.asp?base_id=4">客户服务</a>
                <dl class="subNav">
                    <dt><a href="http://www.postone.com.cn/info.asp?base_id=4&second_id=4001">产品介绍</a></dt>
                    <dt><a href="http://www.postone.com.cn/info.asp?base_id=4&second_id=4002">认购流程</a></dt>
                    <dt><a href="http://www.postone.com.cn/info.asp?base_id=4&second_id=4004">常见问题</a></dt>
                    <dt><a href="http://www.postone.com.cn/info.asp?base_id=4&second_id=4003">产品咨询</a></dt>
                </dl>
            </li>
            <li><a href="http://www.postone.com.cn/info.asp?base_id=1&second_id=1006">联系我们</a>
                <dl class="subNav">
                </dl>
            </li>
        </ul>
    </div>
</div>