<div class="nav">
    <div class="wrap">
        <ul class="clearfix">
            {pc:content action="category" catid="10" num="25" siteid="$siteid" order="listorder ASC"}
                <li><a {if empty($catid)}class="current"{/if} href="{siteurl($siteid)}">首页</a></li>
                {loop $data $r}<!--  一级栏目循环开始  -->
                <li><a {if $r['catid'] == $catid || $CATEGORYS[$CAT[parentid]][catid]==$r['catid']}class="current" {/if} href="{$r[url]}">{$r[catname]}</a>
                    {if $r[catid]==6||$r[catid]==9} <!--是否有子栏目-->
                        <dl class="subNav" style="display:none">
                        {pc:content  action="lists" catid="$r[catid]" order="listorder ASC" num="25" return="subnav"}
                                {loop $subnav $v}<!--子栏目循环开始-->
                                <dt><a href="{$v[url]}">{$v[title]}</a></dt>
                                {/loop}<!--子栏目循环结束-->
                        {/pc}
                        </dl>
                    {/if}
                    {if $r[catid]==7} <!--是否有子栏目-->
                        <dl class="subNav" style="display:none">
                        {pc:content  action="category" catid="$r[catid]" order="listorder ASC" num="25" return="subnav"}
                                {loop $subnav $v}<!--子栏目循环开始-->
                                <dt><a href="{$v[url]}">{$v[catname]}</a></dt>
                                {/loop}<!--子栏目循环结束-->
                        {/pc}
                        </dl>
                    {/if}
                </li>
                {/loop}<!--  一级栏目循环结束-->
                <li><a href="index.php?m=content&c=index&a=show&catid=6&id=6">联系我们</a></li>
            {/pc}
        </ul>
    </div>
</div>