<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>上海朴石投资管理合伙企业（有限合伙） - 朴石资讯 - 朴石公告</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="./resource/base.css">
    <link rel="stylesheet" type="text/css" href="./resource/inside.css">
    <script language="javascript" type="text/javascript" src="./resource/jquery-1.8.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="./resource/jquery.SuperSlide.js"></script>
    <script language="javascript" type="text/javascript" src="./resource/common.js"></script>
    <script language="javascript" type="text/javascript" src="./resource/adver.js"></script>
    <script type="text/javascript" src="./resource/jwplayer.js"></script>
</head>

<body>
    <div class="header">
        <div class="topArea">
            <div class="wrap">
                <a href="javascript:;">中文</a> |
                <a href="http://www.postone.com.cn/en">ENGLISH</a>
            </div>
        </div>
        <div class="wrap clearfix">
            <h1 class="logo">
			
					<img src="./resource/2015072057585753.jpg" width="500" height="106">
			
		</h1>
            <div class="wechat"><img src="./resource/wechat.jpg"></div>
        </div>
        <!--nav-->
        <div class="banner">
            <div class="bd">
                <ul>
                    <li style="background:url(./resource/2015091750748673.jpg) center 0 no-repeat;"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="wrap clearfix">
            <div class="sidebar fl">
                <div class="colTxtTitle">
                    <h3>朴石资讯</h3>
                </div>
                <div class="menu">
                    <dl>
                        <dt><a href="http://www.postone.com.cn/info.asp?base_id=3&second_id=3001" class="active">朴石公告</a></dt>
                        <dt><a href="http://www.postone.com.cn/info.asp?base_id=3&second_id=3002">朴石策略</a></dt>
                        <dt><a href="http://www.postone.com.cn/info.asp?base_id=3&second_id=3003">行业动态</a></dt>
                    </dl>
                </div>
            </div>
            <div class="main fr">
                <div class="list">
                    <ul>
                        <li><span class="ico"></span><span class="date">2016-01-21</span><a href="http://www.postone.com.cn/display.asp?id=1114" target="_blank">【朴石投资2015年全国排名居前】2015年度中国阳光私募基金巅峰榜(数据来源：格上理财)</a></li>
                        <li><span class="ico"></span><span class="date">2015-10-27</span><a href="http://www.postone.com.cn/display.asp?id=993" target="_blank">【朴石三季度排名居前】2015年三季度中国阳光私募基金巅峰榜</a></li>
                        <li><span class="ico"></span><span class="date">2015-09-14</span><a href="http://www.postone.com.cn/display.asp?id=932" target="_blank">《陕国投·朴石2期管理型证券投资集合资金信托计划》第一次受益人大会决议</a></li>
                        <li><span class="ico"></span><span class="date">2015-08-27</span><a href="http://www.postone.com.cn/display.asp?id=915" target="_blank">关于召开《陕国投·朴石2期管理型证券投资集合资金信托计划》第一次受益人大会的通知</a></li>
                        <li><span class="ico"></span><span class="date">2015-07-20</span><a href="http://www.postone.com.cn/display.asp?id=148" target="_blank">朴石投资关于未来市场的看法与对投资者的建议</a></li>
                        <li><span class="ico"></span><span class="date">2014-09-26</span><a href="http://www.postone.com.cn/display.asp?id=114" target="_blank">盘点中国创新 基因测序前景可期</a></li>
                    </ul>
                </div>
                <div class="page"><a href="javascript:void(0);">首页</a><a href="javascript:void(0);">上一页</a><a href="http://www.postone.com.cn/info.asp?base_id=3&second_id=3001&page=1" class="current">1</a><a href="javascript:void(0);">下一页</a><a href="javascript:void(0);">末页</a><span>共 <strong>6</strong> 条信息</span></div>
            </div>
        </div>
    </div>
    <!--nav-->
</body>

</html>
