<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>上海朴石投资管理合伙企业（有限合伙） - 旗下产品 - 朴石1期</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="./resource/base.css">
    <link rel="stylesheet" type="text/css" href="./resource/inside.css">
    <script language="javascript" type="text/javascript" src="./resource/jquery-1.8.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="./resource/jquery.SuperSlide.js"></script>
    <script language="javascript" type="text/javascript" src="./resource/common.js"></script>
    <script language="javascript" type="text/javascript" src="./resource/adver.js"></script>
    <script type="text/javascript" src="./resource/jwplayer.js"></script>
</head>

<body>
    <div class="header">
        <div class="topArea">
            <div class="wrap">
                <a href="javascript:;">中文</a> |
                <a href="http://www.postone.com.cn/en">ENGLISH</a>
            </div>
        </div>
        <div class="wrap clearfix">
            <h1 class="logo">
            
                    <img src="./resource/2015072057585753.jpg" width="500" height="106">
            
        </h1>
            <div class="wechat"><img src="./resource/wechat.jpg"></div>
        </div>
        <!--nav-->
        <div class="banner">
            <div class="bd">
                <ul>
                    <li style="background:url(./resource/2015091750883173.jpg) center 0 no-repeat;"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="wrap clearfix">
            <div class="sidebar fl">
                <div class="colTxtTitle">
                    <h3>旗下产品</h3>
                </div>
                <div class="menu">
                    <dl>
                        <dt><a href="http://www.postone.com.cn/info.asp?base_id=2&second_id=2001" class="active">朴石1期</a></dt>
                        <dt><a href="http://www.postone.com.cn/info.asp?base_id=2&second_id=2002">朴石2期</a></dt>
                        <dt><a href="http://www.postone.com.cn/info.asp?base_id=2&second_id=2003">朴石3期</a></dt>
                        <dt><a href="http://www.postone.com.cn/info.asp?base_id=2&second_id=2004">朴石5期</a></dt>
                        <dt><a href="http://www.postone.com.cn/info.asp?base_id=2&second_id=2005">朴石6期</a></dt>
                        <dt><a href="http://www.postone.com.cn/info.asp?base_id=2&second_id=2006">朴石7期</a></dt>
                        <dt><a href="http://www.postone.com.cn/info.asp?base_id=2&second_id=2007">朴石8期</a></dt>
                        <dt><a href="http://www.postone.com.cn/info.asp?base_id=2&second_id=2008">朴石9期</a></dt>
                    </dl>
                </div>
            </div>
            <div class="main fr">
                <div class="list2">
                    <ul>
                        <li class="clearfix">
                            <span class="title">产品名称</span>
                            <span class="title2">成立日期</span>
                            <span class="title3">单位净值</span>
                            <span class="title4">累计单位净值</span>
                            <span class="title5">更新日期</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">204.27</span>
                            <span class="title2">204.27</span>
                            <span class="title4">2016-02-15</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">204.48</span>
                            <span class="title2">204.48</span>
                            <span class="title4">2016-02-05</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">204.25</span>
                            <span class="title2">204.25</span>
                            <span class="title4">2016-01-29</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">204.70</span>
                            <span class="title2">204.70</span>
                            <span class="title4">2016-01-22</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">204.67</span>
                            <span class="title2">204.67</span>
                            <span class="title4">2016-01-15</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">208.64</span>
                            <span class="title2">208.64</span>
                            <span class="title4">2016-01-08</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">225.06</span>
                            <span class="title2">225.06</span>
                            <span class="title4">2015-12-31</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">226.11</span>
                            <span class="title2">226.11</span>
                            <span class="title4">2015-12-25</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-09-18</span>
                            <span class="title3">223.24</span>
                            <span class="title2">223.24</span>
                            <span class="title4">2015-12-18</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">221.32</span>
                            <span class="title2">221.32</span>
                            <span class="title4">2015-12-11</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">221.24</span>
                            <span class="title2">221.24</span>
                            <span class="title4">2015-12-04</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">220.20</span>
                            <span class="title2">220.20</span>
                            <span class="title4">2015-11-27</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">227.78</span>
                            <span class="title2">227.78</span>
                            <span class="title4">2015-11-20</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">224.04</span>
                            <span class="title2">224.04</span>
                            <span class="title4">2015-11-13</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">222.99</span>
                            <span class="title2">222.99</span>
                            <span class="title4">2015-11-06</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">216.27</span>
                            <span class="title2">216.27</span>
                            <span class="title4">2015-10-23</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">214.72</span>
                            <span class="title2">214.72</span>
                            <span class="title4">2015-10-16</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">213.96</span>
                            <span class="title2">213.96</span>
                            <span class="title4">2015-10-15</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">209.54</span>
                            <span class="title2">209.54</span>
                            <span class="title4">2015-10-9</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">205.71</span>
                            <span class="title2">205.71</span>
                            <span class="title4">2015-9-25</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">205.71</span>
                            <span class="title2">205.71</span>
                            <span class="title4">2015-09-18</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">204.01</span>
                            <span class="title2">204.01</span>
                            <span class="title4">2015-09-15</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">207.46</span>
                            <span class="title2">207.46</span>
                            <span class="title4">2015-09-11</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">205.79</span>
                            <span class="title2">205.79</span>
                            <span class="title4">2015-09-02</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">207.93</span>
                            <span class="title2">207.93</span>
                            <span class="title4">2015-08-28</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">209.50</span>
                            <span class="title2">209.50</span>
                            <span class="title4">2015-08-21</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">218.11</span>
                            <span class="title2">218.11</span>
                            <span class="title4">2015-08-14</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">218.31</span>
                            <span class="title2">218.31</span>
                            <span class="title4">2015-08-07</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">218.08</span>
                            <span class="title2">218.08</span>
                            <span class="title4">2015-7-31</span>
                        </li>
                        <li class="clearfix">
                            <span class="title">朴石1期</span>
                            <span class="title3">2012-9-18</span>
                            <span class="title3">220.18</span>
                            <span class="title2">220.18</span>
                            <span class="title4">2015-7-24</span>
                        </li>
                    </ul>
                </div>
                <div class="page"><a href="javascript:void(0);">首页</a><a href="javascript:void(0);">上一页</a><a href="http://www.postone.com.cn/info.asp?base_id=2&second_id=2001&page=1" class="current">1</a><a href="http://www.postone.com.cn/info.asp?base_id=2&second_id=2001&page=2">2</a><a href="http://www.postone.com.cn/info.asp?base_id=2&second_id=2001&page=3">3</a><a href="http://www.postone.com.cn/info.asp?base_id=2&second_id=2001&page=4">4</a><a href="http://www.postone.com.cn/info.asp?base_id=2&second_id=2001&page=5">5</a><a href="http://www.postone.com.cn/info.asp?base_id=2&second_id=2001&page=6">6</a><a href="http://www.postone.com.cn/info.asp?base_id=2&second_id=2001&page=2">下一页</a><a href="http://www.postone.com.cn/info.asp?base_id=2&second_id=2001&page=7">末页</a><span>共 <strong>193</strong> 条信息</span></div>
            </div>
        </div>
    </div>
    <!--nav-->
</body>

</html>
